html,
body {
    height: 100%;
}

body {
    padding-top: 50px;
    background-color: #1d1d1d;
    color: #bbb;
}

a {
    color: #ff0000;
}

a:hover {
    color: #c40000;
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

header.carousel {
    height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.error-404 {
    font-size: 100px;
}

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

footer {
    margin: 50px 0;
}

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}

.community-head {
    padding: 4px 15px 4px 15px;
    margin-bottom: 20px;
    width: 750px;
    height: 30px;
    background-color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.community-body {
    padding: 25px 15px 25px 15px;
    margin-bottom: 20px;
    width: 750px;
    background-color: #555;
    border: 1px solid #ccc;
}

.community-body-right {
    float: right;
    margin-left: 30px;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
}

.code-block {
    padding: 10px;
    margin-top: 10px;
    background: #000;
    border: 1px solid #999;
    border-radius: 4px;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    font-family: monospace, monospace;
    font-size: 13px;
}

codecomment {
    font-family: inherit;
    font-size: inherit;
    color: #aaa;
}

codecmd {
    font-family: inherit;
    font-size: inherit;
    color: #f40000;
}

codevar {
    font-family: inherit;
    font-size: inherit;
    color: green;
}

#tbl-minimalist {
    margin: 15px;
    font-size: 13px;
    border-collapse: collapse;
    text-align: left;
    background-color: #333;
}

#tbl-minimalist td {
    border-bottom: 1px solid #ccc;
    padding: 2px 2px;
}

#tbl-minimalist tbody tr:hover td {
    color: #C40000;
}

d {
    float: right;
}
